@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap");
body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.main-section {
  padding: 20px;
}
.img-container {
  height: 500px;
  background-image: url(sfondo-paesaggio.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.main-section h1 {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
}
.main-section h3 {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin-top: 0;
}
.main-section h1,
h3 {
  margin-bottom: 0;
}
.main-section a {
  font-weight: 600;
}
.main-section h6 {
  padding: 22px;
  margin-bottom: 0;
  margin-top: 56px;
  color: white;
  border-radius: 6px;
  background: linear-gradient(to right, green, rgb(32, 122, 226));
}
.main-section ul{
    list-style: none;
    padding: 0;
}
.main-section ul li{
    padding: 6px 0 6px 22px;
    border-bottom: 1px solid #dfdfdf;
}
.main-section ul a{
    text-decoration: none;
}
.main-section ul a:visited{
    color: green;
}